<form method="POST" action="{{ checkout_url }}" accept-charset="utf-8" id="liqpay_payment_form">

    <input type="hidden" name="data" value="{{ data }}"  />
    <input type="hidden" name="signature" value="{{ signature }}" />

    <input type="submit" value="submit">

</form>